DATABASE_URL="postgresql://thirdbridge-test_owner:npg_5Us0FmdbCxco@ep-dry-forest-a4u7wjb9-pooler.us-east-1.aws.neon.tech/thirdbridge-test?sslmode=require"
AUTH0_DOMAIN=dev-axjtf077.us.auth0.com
AUTH0_CLIENT_ID=zH0op8INzdEH2OK2mqZcfuzF0FpE90As
AUTH0_CLIENT_SECRET=5qeQZ3gS4xZ8HxpJajBLZnVffdKopFM_fzDBXNFal2Bh53rlWk85H5KvO5OAxroJ
AUTH0_SECRET=c35f716aeb3c827361a4ca6fe75ed55903406cf9060fdfb44bc6869b817d78bd
AUTH0_AUDIENCE=https://dev-axjtf077.us.auth0.com/api/v2/
APP_BASE_URL=http://localhost:3000/api
AUTH0_BASE_URL=http://localhost:3000
